{% extends 'base.html.twig' %}
    {% block stylesheets %}<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}
{% block body %}


    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">PROMOCJA!</h1>
         </div>

    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">KOTURNY</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>OBRAZEK1</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">ZNAJDŹ COŚ DLA SIEBIE</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">KOTURNY</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>OBRAZEK1</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">ZNAJDŹ COŚ DLA SIEBIE</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">KOTURNY</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>OBRAZEK1</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">ZNAJDŹ COŚ DLA SIEBIE</button>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}